

<% quantity = line_items.quantity %>

<% if product = line_items.product %>
  <% item_total = line_items.product.price * quantity %>
  <% @order_total += item_total %>

<tr>
  <td>
    <%= image_tag line_items.product.image.tiny %>
  </td>
  <td>
    <h4><%= line_items.product.name %></h4>
    <br>
    <p><%= line_items.product.description %></p>
  </td>
  <td>
    <%= line_items.product.price %>
  </td>
  <td>
    <%= line_items.quantity %>
  </td>
  <td>
    <%= item_total %>
  </td>
</tr>
<% end %>